<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/signUp" method="POST">
            <p>Username:<input type="text" name="username" maxlength="30"/></p>
            <p>Nickname:<input type="text" name="nickname" maxlength="30"/></p>
            <p>Password:<input type="password" name="password" maxlength="30"/></p>
            <input type="submit" name="signup_btn" value="SignUp">
        </form>
        <p>{{ .Msg }}</p>
    </div>
</body>
